[submodule ".registry"]
	path = .registry
	url = https://github.com/aleks-wehi/aleks-wehi.r-universe.dev
	branch = HEAD
[submodule "PlotTrellis"]
	path = PlotTrellis
	url = https://github.com/aleks-wehi/PlotTrellis
